<!-- MultiStep Form -->

<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2><strong>Calculate Your Kcal</strong></h2>
                <!-- <p>Fill all form field to go to next step</p> -->
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <!-- progressbar -->
                            <!-- <ul id="progressbar">
                                <li class="active" id="account"><strong>Personal Data</strong></li>
                                <li id="personal"><strong>Current Measurement</strong></li>
                                <li id="payment"><strong>Target</strong></li>
                                <li id="confirm"><strong>Confirm</strong></li>
                            </ul> -->
                            <!-- fieldsets -->
                            <fieldset>
                                <form [formGroup]="form" (ngSubmit)="submit()">

                                    <div class="form-card form-group">

                                   
                                        <!-- <h2 class="fs-title"></h2> -->
                                        <!-- <input type="email" name="email" placeholder="Email Id"/> -->
                                        <p> Username</p>
                                        <input type="username" formControlName="username" placeholder=""/>
                                        <p> Age</p>
                                        <input type="number" formControlName="age" placeholder=""/>
                                        <p> Gender</p>
                                        <select formControlName="gender"   class="form-control">
                                            <option *ngFor="let gender of genders">{{gender}}</option>
                                        </select>
                                        <p> Height(cm)</p>
                                        <input type="number" formControlName="initialHeight" placeholder=""/>
                                        <p> Weight(kg)</p>
                                        <input type="number" formControlName="initialWeight" placeholder=""/>
                                        <p> Target</p>
                                        <select formControlName="target" class="form-control">
                                            <option *ngFor="let target of targets">{{target}}</option>
                                        </select>   
                                        <p> Activity Frequency</p>                                     
                                        <select formControlName="frequency" class="form-control">
                                            <option *ngFor="let frequency of frequencies">{{frequency}}</option>
                                        </select>  
                                    </div>
                                    <button class="btn btn-primary" type="submit"  >Calculate</button>

                                </form>

                                <!-- <button type="button" name="next" class="next action-button" value="Calculate"></button> -->

                            </fieldset>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
